<section class="py-16 md:py-24">
  <div class="max-w-[1440px] mx-auto px-8">
    <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-12 text-center">
      Soluciones Financieras Avanzadas
    </h2>
    <div
      class="flex flex-col gap-6 lg:grid lg:grid-cols-3"
      style="grid-auto-rows: 96px;"
    >
      <div class="row-start-1 row-end-3 group rounded-2xl border border-gray-200">
        <div
          class="bg-slate-50 rounded-2xl w-full h-full p-6 flex flex-col gap-6 items-center justify-center bg-gradient-to-br from-sky-100 via-slate-50 to-orange-50"
        >
          <h3
            class="text-2xl font-semibold bg-gradient-to-r from-blue-800 to-sky-600 bg-clip-text text-transparent"
          >
            Dialogo Software
          </h3>
          <div
            class="flex items-center justify-center bg-white bg-opacity-10 backdrop-blur-lg rounded-full shadow-md border border-white border-opacity-30"
          >
            <img
              src="/dialogoIconBr.svg"
              alt="logo dialogo software"
              class="p-2"
            />
          </div>
        </div>
      </div>

      <div class="row-start-1 row-end-4 group rounded-2xl border border-gray-200">
        <div
          class="rounded-2xl w-full h-full p-6 flex flex-col gap-6 items-center justify-center bg-gradient-to-br from-sky-100 via-slate-50 to-orange-50"
        >
          <ul class="space-y-4">
            <div
              class="p-1 bg-sky-900 bg-opacity-40 backdrop-blur-md rounded-lg shadow-md"
            >
              <li
                class="flex items-center p-2 text-white text-xs md:text-base bg-black opacity-95 rounded-lg"
              >
                <img
                  src="/icons/bentoIconReport.svg"
                  class="h-10 w-10 p-2"
                  alt="report Icon"
                  loading="lazy"
                />
                <span>Soporte Informado para Decisiones Estratégicas</span>
              </li>
            </div>
            <div
              class="p-1 bg-sky-900 bg-opacity-40 backdrop-blur-md rounded-lg shadow-md"
            >
              <li
                class="flex items-center py-2 text-white text-xs md:text-base bg-black opacity-95 rounded-lg"
              >
                <img
                  src="/icons/bentoIconAdapt.svg"
                  class="h-10 w-10 p-2"
                  alt="adapt Icon"
                  loading="lazy"
                />
                <span>Adaptabilidad al Entorno Financiero</span>
              </li>
            </div>
            <div
              class="p-1 bg-sky-900 bg-opacity-40 backdrop-blur-md rounded-lg shadow-md"
            >
              <li
                class="flex items-center py-2 text-white text-xs md:text-base bg-black opacity-95 rounded-lg"
              >
                <img
                  src="/icons/bentoIconCheck.svg"
                  class="h-10 w-10 p-2"
                  alt="check Icon"
                  loading="lazy"
                />
                <span>Escalabilidad Financiera sin Barreras</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="row-start-1 row-end-3 group rounded-2xl border border-gray-200">
        <div
          class="rounded-2xl w-full h-full p-4 flex flex-col gap-6 items-center justify-center bg-gradient-to-br from-sky-100 via-slate-50 to-orange-50"
        >
          <div class="text-center">
            <h3 class="text-2xl font-semibold bg-gradient-to-r from-blue-800 to-sky-600 bg-clip-text text-transparent">
              +25 años de experiencia
            </h3>
            <p class="text-sm md:text-base text-gray-600 mt-2">
              Respaldando el crecimiento del sector financiero
            </p>
          </div>
        </div>
      </div>

      <div class="row-start-3 row-end-6 group rounded-2xl border border-gray-200">
        <div
          class="rounded-2xl w-full h-full p-6 flex flex-col gap-6 justify-center bg-gradient-to-br from-sky-100 via-slate-50 to-orange-50"
        >
          <h3
            class="text-2xl font-semibold bg-gradient-to-r from-blue-800 to-sky-600 bg-clip-text text-transparent text-center"
          >
            Evolución Constante
          </h3>
          <p class="text-sm md:text-base text-gray-600 text-center">
            Tecnoevolución SAS mejora continuamente DIÁLOGO SOFTWARE para
            adaptarse a las necesidades del mercado financiero
          </p>
        </div>
      </div>

      <div class="row-start-4 row-end-6 group rounded-2xl border border-gray-200">
        <div
          class="rounded-2xl w-full h-full pt-8 flex flex-col justify-center bg-gradient-to-br from-sky-100 via-slate-50 to-orange-50"
        >
          <div
            class="text-sm md:text-base text-gray-200 p-2 text-center mx-6 bg-black opacity-95 backdrop-blur-md rounded-lg shadow-md border-4 border-white border-opacity-85 z-10"
          >
            Maximiza tus utilidades mediante una administración financiera ágil y
            estratégica
          </div>

          <div
            class="flex items-center justify-center px-4 z-0 mt-[-18px] overflow-hidden pt-2 bg-no-repeat bg-contain"
          >
            <img src="/timg.svg" alt="Gráfico de crecimiento" class="" />
          </div>
        </div>
      </div>

      <div class="row-start-3 row-end-6 group rounded-2xl border border-gray-200">
        <div
          class="rounded-2xl w-full h-full p-6 flex flex-col gap-6 items-center justify-center bg-gradient-to-br from-sky-100 via-slate-50 to-orange-50"
        >
          <h3
            class="text-2xl font-semibold bg-gradient-to-r from-blue-800 to-sky-600 bg-clip-text text-transparent text-center"
          >
            Soporte y Asesoría
          </h3>
          <p class="text-sm md:text-base text-gray-600 text-center">
            Ofrecemos soporte continuo y asesoría personalizada para maximizar el
            uso de DIÁLOGO SOFTWARE en tu organización.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
