<!-- Footer.astro -->
<footer class="w-full bg-[#012537] text-white pt-14">
    <div class="max-w-[1440px] mx-auto p-8">
        <div class="flex flex-col md:flex-row justify-between items-start space-y-4 md:space-y-0 mb-4">
            <!-- Columna 1: Información de la Empresa -->
            <div class="flex flex-col space-y-2">
                <img src="/tecno-logo-white.webp" alt="Logo de la empresa" class="w-52" />
                <p>Bogotá, Colombia - Sur América<br />Calle 26 No. 69 - 63<br />Centro Empresarial Torre 26 - oficina 211</p>
            </div>

            <div class="flex flex-col space-y-2 pt-8">
                <h3 class="font-bold">Contáctanos</h3>
                <p>+57 (1) 427 0717</p>
                <p>+57 320 854 4261</p>
                <a href="mailto:ventas.tecnoevolucion">ventas@tecnoevolucion</a>
            </div>

            <div class="flex flex-col space-y-1 pt-8">
                <h3 class="font-bold">Síguenos!</h3>
                <div class="flex space-x-3">
                    <a href="#" class="hover:text-blue-500">Facebook</a>
                    <a href="#" class="hover:text-blue-500">LinkedIn</a>
                    <a href="#" class="hover:text-blue-500">Twitter</a>
                </div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row justify-between items-center border-t border-slate-600 pt-4">
            <p class="text-sm text-center">© 2024 Tecnoevolución Diálogo Software SAS. Todos los derechos reservados</p>
            <a href="#" class="text-sm hover:underline">Tratamiento de datos personales</a>
        </div>
    </div>
</footer>
