---

// Props si necesitas
---

<section class="h-[600px] bg-gradient-to-r from-sky-800 to-sky-400 text-white rounded-lg mb-24 ">
  <div class="h-full max-w-[1440px] mx-auto  ">
    <!-- Contenedor principal con flex y h-full -->
    <div class="h-full flex flex-col text-pretty ">
      <!-- 90% superior del height -->
      <div class="h-[90%] flex items-center  px-4 sm:px-6 lg:px-8 ">
        <div class="w-full lg:w-[50%]">
          <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-6">
            Impulsamos la tecnología
            <br />
            de tu negocio
          </h1>
          <p class="text-xl md:text-2xl mb-8">
            Más de 25 años ofreciendo tecnología y asesoría en sistemas
            de información para empresas como la tuya.
          </p>
          <button class="bg-blue-100 text-blue-800 px-6 py-3 rounded-md hover:bg-blue-50 transition-colors">
            Contáctanos
          </button>
        </div>
      </div>

      <div class="h-[10%] flex items-center justify-center  md:justify-end">
        <div class="bg-white rounded-t-lg md:rounded-tl-lg md:rounded-tr-none flex items-center justify-center p-2  w-3/4 sm:w-1/2 md:w-auto ">
            <img src="/cmmi3marcapais.webp"  alt="Certificaciones"  class="w-full h-auto"  />
          </div>
      </div>
    </div>
  </div>
</section>
