---
import ProductCard from './ProductCard.astro';

const products = [
{
    icon: '/icons/logoTtranspiler.svg',
    title: 'TecnoTranspiler',
    description: 'Herramienta para migrar sistemas Cliente/Servidor a entornos web modernos, facilitando la transición a arquitecturas multicapas.',
    link: '/productos/producto-2',
  },
  {
    icon: '/icons/logoBancaria.svg',
    title: 'Solución bancaria',
    description: 'Solución para el sector financiero, optimiza la administración de captaciones, colocaciones y caja.',
    link: '/productos/producto-1',
  },
  {
    icon: '/icons/logoTesoreria.svg',
    title: 'Tesorería financiera',
    description: 'Solución dirigida a empresas financieras, que facilita la integración con fuentes de datos de mercado como Bloomberg, Reuters y SetFx, entre otras.',
    link: '/productos/producto-1',
  },
  {
    icon: '/icons/logoFiduciaria.svg',
    title: 'Solución fiduciaria',
    description: 'Solución para fiduciarias, diseñada para gestionar eficientemente patrimonios autónomos, fiducias y fondos de inversión.',
    link: '/productos/producto-1',
  },
  {
    icon: '/icons/logoBolsa.svg',
    title: 'Comisionistas de Bolsa',
    description: 'Solución especializada para comisionistas de bolsa, diseñada para gestionar eficientemente las inversiones de terceros y optimizar la administración de portafolios.',
    link: '/productos/producto-1',
  },
  {
    icon: '/icons/logoFabrica.svg',
    title: 'Fábrica de Software',
    description: 'Servicio de desarrollo de software para el sector financiero, creando soluciones personalizadas para nuevas tecnologías, negocios y servicios.',
    link: '/productos/producto-1',
  },

];
---
<section class="container mx-auto py-28">
  <h2 class="text-2xl md:text-4xl font-bold mb-6 text-center">Nuestros Productos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {products.map((product) => (
      <ProductCard
        icon={product.icon}
        title={product.title}
        description={product.description}
        link={product.link}
      />
    ))}
  </div>
</section>
